/* Asterisk wildcard selector used to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Other general project styles */
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.50em;
}

/* Header */
header {
    background-color: yellow;
    padding: 5px 7px;
    position: fixed;
    z-index: 50;
    /* Fits the full width of the screen as it position fixed reverted back to default settings */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
}

label>i {
    padding-top: 5px;
}

/* Style for the logo of the header */
#logo {
    color: green;
    text-align: center;
    height: 40px;
}

/* Menu list with drop down toggle */
#list-menu {
    position: absolute;
    background-color: yellow;
    width: 100%;
    left: 0;
    padding: 0 10px;
    display: none;
    top: 100%;
}

#menu {
    list-style: none;
    /* margin-right: -5%;
    margin-left: -5%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
}

#menu>li {
    /* Makes menu list show in one line */
    display: inline-block;
    /* Spaces out each li between one another */
    margin: 5px 0;
}

.active {
    border-bottom: 1px solid #000;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Increases drop down icon size */
.nav-toggle-label {
    font-size: 2rem;
}

/* Overrides parent padding/margin in the navigation bar */

/* #first{
    padding-left: 10px;
    padding-right: 5px;
}

#middle{
    padding: 0 5px;
}

#third{
    padding-right: 5px;
} */


/* Main */
main {
    background-color: lightcyan;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 54px;
}

img {
    max-width: 10%;
    max-height: 10%;
}

/* Landscape image */

#landscape-detail {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: orange;
}

.social-media-tabs {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px 0;
}

/* Media query for mobiles from 320px and up*/
@media screen and (min-width: 320px){
    /* Header  */
    header {
        position: fixed;
        display: flex;
        justify-content: space-around;
        padding: 5px 10px;
        align-items: baseline;
    }

    #list-menu {
        padding: 0 5px;
    }

    #menu {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 5px;
        font-size: 1.1em;
    }

    /* Main */
    main{
        margin-top: 54px ;
    }
}

/* Media query for tables and larger (768px and up) */
@media screen and (min-width: 375px) {

    /* Header */
    header {
        position: fixed;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    #list-menu {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    #menu li {
        padding: .75rem 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 99px;
    }

    /* Footer */
}

/* Media query for large devices (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #000;
    }
}