/* Asterisk wildcard selector used to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Other general project styles */
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Marck Script", cursive;
    font-weight: 400;
}

h2 {
    font-size: 300%;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 200%;
    margin: 10px 0 30px;
    text-align: center;
}

p {
    line-height: 1.75;
    
}

/* Header */
header {
    background-color: yellow;
    padding: 5px 7px;
    position: fixed;
    z-index: 50;
    /* Fits the full width of the screen as it position fixed reverted back to default settings */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    text-decoration: none;
}

label>i {
    padding-top: 5px;
}

/* Style for the logo of the header */
#logo {
    color: green;
}

/* Menu list with drop down toggle */
#list-menu {
    position: absolute;
    background-color: yellow;
    width: 100%;
    left: 0;
    padding: 0 10px;
    display: none;
    top: 100%;
}

#menu {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
}

#menu>li {
    /* Makes menu list show in one line */
    display: inline-block;
    /* Spaces out each li between one another */
    margin: 5px 0;
    padding-bottom: 0.5rem;
    font-size: 110%;
}

.active {
    border-bottom: 1px solid #000;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Increases drop down icon size */
.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: lightcyan;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Adjusts main content to the margin of the header */
    margin-top: 51px;
    /* display: flex;
    flex-direction: column; */
}

/* Profile image */
#profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-image-circle {
    background-color: green;
    margin: 50px 0 30px;
    height: 180px;
    width: 180px;
    background: url("../images/profile-image-edited2.jpg") no-repeat center center/cover;
    border-radius: 50%;
    /* Ensures image doesn't exceed 300px when scaled*/
    max-width: 300px;
    max-height: 300px;
}

/* About me section */

span {
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-size: 200%;
}

#container-box {
    /* Width 90% does not spread the content to the sides of the margin leacing some breathing space to style accordingly. */
    width: 90%;
    margin: 0 auto;
}

#welcome {
    margin: 20px 0 30px;
}

#welcome p {
    text-align: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

.paragraph {
    text-align: justify;
    margin: 20px auto 40px;
}

#introduction-to-stitch,
#finding-niche {
    margin: 20px 0 0;
}

#span-container p{
    line-height: revert;
    text-align: right;
    margin-bottom: 20px;
    padding: 0 3% 5%;
}

/* Landscape image */
/* Credit Love running project for this part */
#landscape-detail {
    height: 25vh;
    width: 100%;
    /* forward slash between position and size */
    background: url("../images/IMG_3974-edited.jpg") no-repeat center center/cover;
}

/* Footer */
footer {
    background-color: orange;
}

.social-media-tabs {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 0;
}

.social-media-tabs i {
    font-size: 160%;
    padding: 5%;
    /* set color */
}


/* Media query for mobiles from 320px and up*/
@media screen and (min-width: 320px) {

    /* Header  */
    header {
        justify-content: space-evenly;
        padding: 5px 10px;

    }

    #list-menu {
        padding: 0 5px;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5px;
    }

    /* Main */
    main {
        margin-top: 51px;
    }
}

/* Media query for tables and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        position: fixed;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #list-menu {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #menu li {
        padding: .75rem 3rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 150px;
    }

    /* Footer */
}

/* Media query for large devices (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */

    #menu a:hover {
        border-bottom: 1px solid #000;
    }

    /* Main */
/* Remove the below as I don't think it's needed */
    /* #container-box {
        width: 95%;
    } */
    
    #welcome p {
        /* font-size: 18.5747px; */
    }

    #about-me {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin: 20px auto 30px;
    }

    .paragraph{
        margin: 20px auto 0;
    }

    #span-container p{
        padding: 3% 3% 5%;
    }

    /* Footer */

}

/* Media query for large devices (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header */

    #menu a:hover {
        border-bottom: 1px solid #000;
    }

    /* Main */
    /* #about-me{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin: 20px auto 50px;
    } */

    /* Footer */

}