/* Asterisk wildcard selector used to remove default styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header{
    background-color: yellow;
    padding: 0 1rem;
    position: fixed;
    z-index: 50;
    /* Fits the full width of the screen as it position fixed reverted back to default settings */
    width: 100%;
}

header a {
    text-decoration: none;
}

/* Style for the logo of the header */
/* h1{
    
} */

#menu{
    list-style: none;
    margin-right: -5%;
    margin-left: -5%;
}

#menu>li{
    /* Makes menu list show in one line */
    display: inline-block;
    /* Spaces out each li between one another */
    margin: 5px 0;   
}

/* Menu list with drop down toggle */
#list-menu{
    position: absolute;
    background-color: yellow;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display:none;
}

#first{
    padding-left: 10px;
    padding-right: 5px;
}

#middle{
    padding: 0 5px;
}

#third{
    padding-right: 5px;
}




/* Main */
main{
    background-color: lightcyan;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

img{
    max-width: 10%;
    max-height: 10%;
}

/* Landscape image */

#landscape-detail{
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: orange;
}